# data
data/sakurazima/ALPSRP*/IMG-*
data/sakurazima/ALPSRP*/TRL-*
data/sakurazima/ALPSRP*/VOL-*
data/sakurazima/*__A/*.txt
data/sakurazima/*__A/*.jpg

# output
src/output/

# movie frames
src/chapter_01/section_01/03/frames

# large data
src/chapter_01/section_01/07/data