# basic
numpy
matplotlib
opencv-python
scipy
tqdm
joblib

# machine learning
segmentation-models-pytorch
torch
kornia

# jupyter
jupyterlab

# satellite
snaphu
sarpy

# gis
pygdal==3.0.4.10
tifffile
rasterio
leafmap

# vizualize
windrose
seaborn